body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

/* Starten av header */
.bar {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__image {
  width: 6rem;
}
.bar__left {
  padding-inline: 1rem;
}
/* Dropdown knapp  */

.bar__dropdownbtn {
  background-color: green;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.bar__dropdown {
  position: relative;
  display: inline-block;
}
.bar__dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 180px;
  height: auto;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.bar__dropdown-content a {
  color: black;
  padding: 1rem 1.2rem;
  display: block;
  margin: 1rem;
  background-color: white;
}
.bar__dropdown-content a:active {
  background-color: #ddd;
}

.bar__dropdownbtn:focus + .bar__dropdown-content {
  display: block;
}
.bar__dropdownbtn:focus {
  background-color: blue;
}
.bar__dropdown-content a:hover {
  background-color: lightgray;
}

/* Slutten av knapp */
.bar__heading {
  border: 3px solid red;
  display: flex;
  flex-shrink: 1;
}

.bar__meny {
  border: 3px solid red;
  font-size: 1.5rem;
}

.bar__profil {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 100px;
}
/* Slutten av header */

/* Inner page */

.page {
  display: flex;
  justify-content: space-between;
  border: 3px solid red;
  margin-block-start: 2rem;
  margin-inline: 1rem;
  min-height: 70vh;
}

.page__kart {
  border: 5px solid blue;
  width: 50rem;
}
.page__kartInfo {
  width: 100%;
  height: 100%;
}

.page__info {
  border: 3px solid black;
  margin-inline-start: 1rem;
  width: 40rem;
  height: 40vh;
  padding-inline: 1rem;
}

.page__tekstBoks {
  width: 50rem;
  margin-inline-start: 1rem;
  border: 3px solid black;
  padding-inline: 1rem;
}
