body {
  margin: 0;
  padding: 0;
  background-color: grey;
}

@media screen and (max-width: 800px) {
  .aktiviteter {
    display: flex;
    flex-direction: column;
  }
  .aktiviteter__info {
    margin-block-end: 2rem;
  }
  .aktiviteter__kart {
    width: 85vw;
    height: 20rem;
  }
}

@media screen and (min-width: 800px) {
  .aktiviteter__kart {
    width: 50vw;
    height: 30rem;
  }
}

/* Starten av header */
.bar {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__image {
  width: 6rem;
}
.bar__left {
  padding-inline: 1rem;
}
/* Dropdown knapp  */

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover */
.bar__dropdownbtn {
  background-color: green;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.bar__dropdown {
  position: relative;
  display: inline-block;
}
.bar__dropdown:hover .bar__dropdown-content {
  display: block;
}
.bar__dropdown-content {
  display: none;
  position: absolute;
  background-color: grey;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.bar__dropdown-content a {
  color: black;
  padding: 1rem 1.2rem;
  display: block;
  margin: 1rem;
  background-color: white;
}
.bar__dropdown-content a:active {
  background-color: #ddd;
}

.bar__dropdown-content a:hover {
  background-color: lightgray;
}

/* Slutten av knapp */
.bar__heading {
  display: flex;
  flex-shrink: 1;
}

.bar__meny {
  font-size: 1.5rem;
}

.bar__profil {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 100px;
}
/* Slutten av header */

/* Inner page */

.page {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

/* https://www.google.com/maps/place/Grenseveien+9,+11,+0571+Oslo/@59.9254139,10.7752215,17z/data=!3m1!4b1!4m9!1m2!10m1!1e4!3m5!1s0x46416e4441c171a5:0x113e98755787114b!8m2!3d59.9255984!4d10.7777312!16s%2Fg%2F11bw3hstyx?entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D */
.page__kart {
  width: 50rem;
}
.page__kartInfo,
.aktiviteter__kartInfo {
  width: 100%;
  height: 100%;
}
.page__info {
  width: 50rem;
}
.page__tekstBoks {
  width: 50rem;
}
.page__info,
.page__tekstBoks {
  padding-inline: 1rem;
  margin-inline-start: 1rem;
}

/* Aktiviteter */
.aktiviteter {
  margin: 1rem 2rem;
  display: flex;
}

.aktiviteter__kalender {
  max-width: 50rem;
}
.aktiviteter__info {
  margin-block-start: 2rem;
  padding-inline-start: 1rem;
  text-align: left;
}

.aktiviteter__boks {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
}

/* Meldinger */
.meldinger__page {
  padding: 1rem;
}

.meldinger__link {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  padding-block: 0.5rem;
  text-decoration: none;
  color: black;
}
.meldinger__image {
  width: 4rem;
  margin-inline-start: 0.3rem;
  border-radius: 50px;
}
.meldinger__link p {
  padding-inline-start: 2rem;
}
.meldinger__link:hover {
  background-color: lightgray;
}

/* Om oss page */
.om-oss {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.om-oss__left {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-height: 60vh;
}
.om-oss__kontakt {
  text-align: center;
}
.om-oss__kontakt label {
  display: block;
  text-align: left;
  margin: 0.5rem 0.25rem;
}
.om-oss__kontakt input,
.om-oss__kontakt textarea {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.om-oss__kontakt input {
  border: none;
  border-radius: 1px;
  background-color: whitesmoke;
  border-bottom: 3px solid black;
}
.om-oss__kontakt textarea {
  height: 100px;
  resize: none;
}

.om-oss__kontakt button {
  background-color: #666;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.om-oss__kontakt button:hover {
  background-color: #555;
}

.om-oss__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-start: 1rem;
}
.om-oss__right {
  margin-inline-start: 2rem;
}

.om-oss__team {
  display: flex;
}

.om-oss__image2 {
  max-width: 6rem;
  border-radius: 50px;
}

.om-oss__link {
  display: flex;
  flex-direction: column;
}

.om-oss__prosjekt {
  border: 1px solid gray;
}

.om-oss__prosjekt p {
  margin-inline: 1rem;
}
.om-oss__right {
  text-align: center;
  font-size: 2rem;
}
.om-oss__image3 {
  width: 100%;
  border-top-right-radius: 10px;
}

/* Modifiers (style) */

.page__kart--style,
.page__info--style,
.page__tekstBoks--style,
.page__kartInfo--style,
.aktiviteter__info--style,
.meldinger__link--style,
.om-oss__left--style,
.aktiviteter__kartInfo--style {
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow: 10px 10px lightblue;
}

.om-oss__right--style,
.om-oss__prosjekt--style {
  background-color: whitesmoke;
}
.om-oss__right--style {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 10px 10px lightblue;
}
.om-oss__prosjekt--style {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 10px 10px lightblue;
}

.page__info--style,
.page__tekstBoks--style,
.aktiviteter__info--style,
.om-oss__text--style,
.om-oss__prosjekt--style {
  line-height: 1.5;
}

.page__tekstBoks--style,
.page__info--style,
.aktiviteter__info--style,
.meldinger__link--style,
.om-oss__text--style,
.om-oss__prosjekt--style {
  font-size: 1.2rem;
}
