@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fff5ee;
  font-family: Work Sans;
}

@media screen and (max-width: 800px) {
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  .page__kart,
  .page__info,
  .page__tekstBoks,
  .om-oss__left,
  .om-oss__right,
  .om-oss__prosjekt {
    margin-block-end: 1rem;
  }

  .page__kart,
  .om-oss__image3 {
    height: 20rem;
  }

  .aktiviteter {
    display: flex;
    flex-direction: column;
  }
  .aktiviteter__info {
    margin-block-end: 2rem;
  }
  .aktiviteter__kart {
    width: 85vw;
    height: 20rem;
  }
  .aktiviteter__info {
    width: 100%;
  }

  .om-oss {
    display: flex;
    flex-wrap: wrap-reverse;
  }
  .om-oss__right--style {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
  .om-oss__prosjekt--style {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .om-oss__image3 {
    border-top-left-radius: 10px;
  }
  .innstillinger__container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) {
  .aktiviteter__kart {
    width: 50vw;
    height: 30rem;
  }
  .om-oss__right {
    margin-inline-start: 2rem;
  }
  .om-oss__prosjekt {
    border: 1px solid gray;
  }
  .innstillinger__container {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/* Starten av header */
.bar {
  background-color: #1e3c6e;
  background-image: linear-gradient(to right, #4b9cd3, #003366);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar__image {
  width: 6rem;
}
.bar__left {
  padding-inline: 1rem;
}
.bar__heading {
  color: white;
}
/* Dropdown knapp  */

/* fra linje 100 til linje 138 er mesteparten kopiert inn (w3schools, 2024). */
.bar__dropdownbtn {
  background-color: #336699;
  /* background-image: linear-gradient(to right, #6aaed6, #336699); */
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.bar__dropdown {
  position: relative;
  display: inline-block;
}
.bar__dropdown:hover .bar__dropdown-content {
  display: block;
}
.bar__dropdown-content {
  display: none;
  position: absolute;
  background-color: #e6f0fa;
  background-image: linear-gradient(to right, #336699, #0a295e);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.bar__dropdown-content a {
  color: black;
  padding: 1rem 1.2rem;
  display: block;
  margin: 1rem;
  color: white;
}
.bar__dropdown-content a:active {
  background-color: #ddd;
}

.bar__dropdown-content a:hover {
  background-image: linear-gradient(to right, #4b9cd3, #003366);
  border: 1px solid #faf9f6;
}

/* Slutten av knapp */
.bar__heading {
  display: flex;
  flex-shrink: 1;
}

.bar__meny {
  font-size: 1.5rem;
}

.bar__profil {
  border: 2px solid black;
  padding: 1rem;
  border-radius: 100px;
}
/* Slutten av header */

/* Inner page */

.page {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
}

/* fra linje 115 til linje 121 har jeg puttet inn kart fra google maps (Google, 2024). */
.page__kart {
  width: 50rem;
}
.page__kartInfo,
.aktiviteter__kartInfo {
  width: 100%;
  height: 100%;
}

.page__info,
.page__tekstBoks {
  width: 50rem;
}
.page__info,
.page__tekstBoks {
  padding-inline: 1rem;
  margin-inline-start: 1rem;
}

/* Aktiviteter */
.aktiviteter {
  margin: 1rem 2rem;
  display: flex;
}

.aktiviteter__kalender {
  max-width: 50rem;
}
.aktiviteter__info {
  margin-block-start: 2rem;
  padding-inline-start: 1rem;
  text-align: left;
}

.aktiviteter__boks {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2rem;
}

/* Meldinger */
.meldinger__page {
  padding: 1rem;
}

.meldinger__link {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  padding-block: 0.5rem;
  text-decoration: none;
  color: black;
}
.meldinger__image {
  width: 4rem;
  margin-inline-start: 0.3rem;
  border-radius: 50px;
}
.meldinger__link p {
  padding-inline-start: 2rem;
}
.meldinger__link:hover {
  background-color: lightgray;
}

/* Om oss page */
.om-oss {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.om-oss__left {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  max-height: 70vh;
}
.om-oss__kontakt {
  text-align: center;
}
.om-oss__kontakt label {
  display: block;
  text-align: left;
  margin: 0.5rem 0.25rem;
}
.om-oss__kontakt input,
.om-oss__kontakt textarea {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.om-oss__kontakt input {
  border: none;
  border-radius: 1px;
  background-color: whitesmoke;
  border-bottom: 3px solid black;
}
.om-oss__kontakt textarea {
  height: 100px;
  resize: none;
}

.om-oss__kontakt button {
  background-color: #666;
  color: #fff;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.om-oss__kontakt button:hover {
  background-color: #555;
}

.om-oss__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-start: 1rem;
}

.om-oss__team {
  display: flex;
}

.om-oss__image2 {
  max-width: 6rem;
  border-radius: 50px;
}

.om-oss__link {
  display: flex;
  flex-direction: column;
  padding-inline-start: 1rem;
}

.om-oss__prosjekt p,
.om-oss__right p {
  margin-inline: 1rem;
}
.om-oss__right {
  text-align: center;
  font-size: 2rem;
}
.om-oss__image3 {
  width: 100%;
  border-top-right-radius: 10px;
}

/* Innstillinger */

.innstillinger__container {
  /* display: grid;
  grid-template-columns: auto auto; */
  gap: 1.5rem;
  padding: 1.5rem;
}
.innstillinger__container h2 {
  text-align: center;
}
.innstillinger__container dt {
  font-weight: 700;
}
.innstillinger__container a {
  color: black;
  font-weight: 500;
}
.innstillinger__container a:hover {
  font-weight: 700;
}

.innstillinger__item {
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Logg inn  */

.logg-inn,
.signer-inn {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff5ee;
}
.logg-inn__middle,
.signer-inn__middle {
  text-align: center;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  width: 20rem;
}
.logg-inn__logo,
.signer-inn__logo {
  display: flex;
  align-items: center;
  margin-block-end: 1.2rem;
}

.logg-inn__image,
.signer-inn__image {
  width: 3.2rem;
  height: 3.2rem;
  margin-inline-end: 1.2rem;
}
.logg-inn__heading,
.signer-inn__heading {
  color: #1e3c6e;
}

.logg-inn__input-group,
.signer-inn__input-group {
  margin-block-end: 1rem;
  padding-inline-end: 1rem;
}

.logg-inn__input-group input[type="email"],
.logg-inn__input-group input[type="password"],
.logg-inn__input-group input[type="text"],
.logg-inn__input-group input[type="tel"],
.signer-inn__input-group input[type="email"],
.signer-inn__input-group input[type="password"],
.signer-inn__input-group input[type="text"],
.signer-inn__input-group input[type="tel"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.logg-inn__button,
.signer-inn__button {
  width: 100%;
  padding: 0.5rem;
}
.logg-inn__button:hover,
.signer-inn__button:hover {
  background-color: #00274d;
}
/* Modifiers (style) */

.page__kart--style,
.page__info--style,
.page__tekstBoks--style,
.page__kartInfo--style,
.aktiviteter__info--style,
.meldinger__link--style,
.om-oss__left--style,
.aktiviteter__kartInfo--style,
.innstillinger__item--style {
  border-radius: 10px;
  background-color: #faf9f6;
  /* box-shadow: 8px 8px #1e3c6e; */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.om-oss__right--style,
.om-oss__prosjekt--style {
  background-color: #f0f0f0;
}
.om-oss__right--style {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* box-shadow: 8px 8px #1e3c6e; */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.om-oss__prosjekt--style {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  /* box-shadow: 2px 8px #1e3c6e; */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.page__info--style,
.page__tekstBoks--style,
.aktiviteter__info--style,
.om-oss__text--style,
.om-oss__prosjekt--style,
.innstillinger__item--style {
  line-height: 1.5;
}

.page__tekstBoks--style,
.page__info--style,
.aktiviteter__info--style,
.meldinger__link--style,
.om-oss__text--style,
.om-oss__prosjekt--style,
.innstillinger__item--style {
  font-size: 1.2rem;
}

.logg-inn__button--style,
.signer-inn__button--style {
  background-color: #1e3c6e;
  color: white;
  border: none;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

/* Kildeliste */

/* W3Schools. (u.å.). CSS Buttons. W3Schools. Hentet 24. oktober 2024 fra https://www.w3schools.com/css/css3_buttons.asp */

/* Google. (u.å.). Grenseveien 9, 0571 Oslo. Google Maps. Hentet 24. oktober 2024 fra https://www.google.com/maps/place/Grenseveien+9,+11,+0571+Oslo/@59.9254139,10.7752215,17z/data=!3m1!4b1!4m9!1m2!10m1!1e4!3m5!1s0x46416e4441c171a5:0x113e98755787114b!8m2!3d59.9255984!4d10.7777312!16s%2Fg%2F11bw3hstyx?entry=ttu&g_ep=EgoyMDI0MTAxNC4wIKXMDSoASAFQAw%3D%3D */
